In [18]:
import sys as sys
import nltk as nltk
import sklearn
import pandas as pd
import numpy as np

In [19]:
print('python : {}'.format(sys.version))

python : 3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]

In [20]:
print('NLTK : {}'.format(nltk.__version__))

NLTK : 3.7

In [21]:
print('scikit - learn : {}'.format(sklearn.__version__))

scikit - learn : 1.0.2

In [22]:
print('pandas :{}'.format(pd.__version__))

pandas :1.4.2

In [24]:
print('numpy :{}'.format(np.__version__))

numpy :1.21.5

## load data set

In [26]:
df = pd.read_table('SMSSpamCollection', header = None, encoding ='utf -8')

In [28]:
df

         0                                                  1
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5572 non-null   object
 1   1       5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [32]:
classes = df[0]

In [34]:
classes

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: 0, Length: 5572, dtype: object

In [42]:
classes.value_counts()

ham     4825
spam     747
Name: 0, dtype: int64

## Preprocessing Data

In [44]:
from sklearn.preprocessing import LabelEncoder

In [50]:
encoder = LabelEncoder()

In [53]:
y = encoder.fit_transform(classes)

In [55]:
y

array([0, 0, 1, ..., 0, 0, 0])

In [57]:
print(y)

[0 0 1 ... 0 0 0]

## Replacement of unwanted words and symbols from text message

In [59]:
text_messages = df[1]

In [61]:
text_messages

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: 1, Length: 5572, dtype: object

In [65]:
processed = text_messages.str.replace(r'^.+@[^\.].*\.[a-z]{2,}$','emailaddress')

C:\Users\CHANDU DHAGE\AppData\Local\Temp\ipykernel_6344\2323866933.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  processed = text_messages.str.replace(r'^.+@[^\.].*\.[a-z]{2,}$','emailaddress')

In [67]:
processed

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: 1, Length: 5572, dtype: object

In [69]:
processed = processed.str.replace(r'http\://[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(/\S*)?$','webaddr')

C:\Users\CHANDU DHAGE\AppData\Local\Temp\ipykernel_6344\371400357.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  processed = processed.str.replace(r'http\://[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(/\S*)?$','webaddr')

In [72]:
processed = processed.str.replace(r'£|\$','money symbol')

C:\Users\CHANDU DHAGE\AppData\Local\Temp\ipykernel_6344\2794165405.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  processed = processed.str.replace(r'£|\$','money symbol')

In [74]:
processed

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: 1, Length: 5572, dtype: object

In [77]:
processed= processed.str.replace(r'^\(?[\d]{3}\)?[\s-]?[\d]{3}[\s-]?[\d]{4}$','phonenuber')

C:\Users\CHANDU DHAGE\AppData\Local\Temp\ipykernel_6344\1224158381.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  processed= processed.str.replace(r'^\(?[\d]{3}\)?[\s-]?[\d]{3}[\s-]?[\d]{4}$','phonenuber')

In [79]:
processed = processed.str.replace(r'\d+(\.\d+)?','number')

C:\Users\CHANDU DHAGE\AppData\Local\Temp\ipykernel_6344\4266183699.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  processed = processed.str.replace(r'\d+(\.\d+)?','number')

In [81]:
processed = processed.str.replace(r'[^\w\d\s]',' ')

C:\Users\CHANDU DHAGE\AppData\Local\Temp\ipykernel_6344\1458442216.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  processed = processed.str.replace(r'[^\w\d\s]',' ')

In [84]:
processed = processed.str.replace(r'\s+',' ')

C:\Users\CHANDU DHAGE\AppData\Local\Temp\ipykernel_6344\1431802126.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  processed = processed.str.replace(r'\s+',' ')

In [86]:
processed = processed.str.replace(r'^\s+|\s+?$', ' ')

C:\Users\CHANDU DHAGE\AppData\Local\Temp\ipykernel_6344\1697444504.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  processed = processed.str.replace(r'^\s+|\s+?$', ' ')

In [88]:
processed = processed.str.lower()

In [90]:
print(processed)

0       go until jurong point crazy available only in ...
1                                ok lar joking wif u oni
2       free entry in number a wkly comp to win fa cup...
3            u dun say so early hor u c already then say
4       nah i don t think he goes to usf he lives arou...
                              ...
5567    this is the numbernd time we have tried number...
5568                 will ü b going to esplanade fr home
5569    pity was in mood for that so any other suggest...
5570    the guy did some bitching but i acted like i d...
5571                            rofl its true to its name
Name: 1, Length: 5572, dtype: object

##  Removing stop words

In [93]:
from nltk.corpus import stopwords

In [ ]:
stopwords = set(stopwords.words('english'))

In [ ]:
processed = processed.apply(lambda x :' '.join(term for term in x.split() if term not in stopwords))

## removing stem words

In [98]:
ps = nltk.PorterStemmer()

In [101]:
processed = processed.apply(lambda x : ' '.join(ps.stem(term) for term in x.split()))

In [103]:
print(processed)

0       go until jurong point crazi avail onli in bugi...
1                                   ok lar joke wif u oni
2       free entri in number a wkli comp to win fa cup...
3             u dun say so earli hor u c alreadi then say
4       nah i don t think he goe to usf he live around...
                              ...
5567    thi is the numbernd time we have tri number co...
5568                      will ü b go to esplanad fr home
5569        piti wa in mood for that so ani other suggest
5570    the guy did some bitch but i act like i d be i...
5571                              rofl it true to it name
Name: 1, Length: 5572, dtype: object